.container {
  position: fixed;
  top: 30px;
  left: calc(50% - 150px);
  width: 300px;
  padding: 30px 50px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #4481c3;
  z-index: 10;
}

.errorMessage {
  font-size: 16px;
  text-align: center;
  white-space: wrap;
  word-wrap: break-word;
}
